---
metric_prefix: "cloudwatch"
influx_host: "influxdb.domain.com"
influx_port: 2003

metric_types:
## EC2 Metrics
-
  namespace: "AWS/EC2"
  ec2_component: "BBCComponent"
  metric_name: "newsbeat-composition"
  metrics:
    -
      name: "CPUUtilization"
      unit: "Percent"
      statistics:
        - Average
    -
      name: "NetworkIn"
      unit: "Bytes"
      statistics:
        - Average
    -
      name: "NetworkOut"
      unit: "Bytes"
      statistics:
        - Average

## Custom Metrics
-
  namespace: "BBCApp/newsbeat/live"
  metrics:
    -
      name: "Headline301Redirect"
      unit: "Count"
      statistics:
        - Sum
    -
      name: "InvalidHeadline"
      unit: "Count"
      statistics:
        - Sum
    -
      name: "LegacyArticle"
      unit: "Count"
      statistics:
        - Sum

## SQS Metrics
-
  namespace: "AWS/SQS"
  queue_name: "live-news-ArticleQueue-N7RAX00100RC"
  metrics:
    -
      name: "ApproximateNumberOfMessagesVisible"
      unit: "Count"
      statistics:
        - Sum
    -
      name: "NumberOfMessagesDeleted"
      unit: "Count"
      statistics:
        - Sum
